# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build output
dist/
*.tsbuildinfo

# Coverage
coverage/
*.lcov

# Env
.env
.env.*
!.env.example

# Editor / OS
.DS_Store

# Test files
/junit-reports/
